.img-download {
  width: 25px;
}

.cont-table {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  scrollbar-width: none;
}

.cont-table tbody {
  overflow-y: scroll;
}

.cont-table::-webkit-scrollbar {
  display: none;
}

.inner-table::-webkit-scrollbar {
  display: none;
}
