.combobox-container {
    display: flex;
    align-items: center;
    position: relative;
}

.container-input {
    position: absolute;
    height: 100%;
    width: calc(100% - 37px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-reg {
    cursor: pointer;
    transition: 1s;
}

@media (max-width: 767px) {
  .reverse {
      display: flex;
      flex-direction: column-reverse !important;
      height: 100% !important;
  }
}